header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(84, 82, 81);
    border-radius: 10px;
}

#flex-left {
    background-color: rgb(124, 121, 120);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#flex-left:hover {
    background-color: green;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}

#timer {
    background-color: rgb(124, 121, 120);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: aliceblue;
}

#intro {
    text-align: center;
    line-height: 50px;
    border: 1px inset black;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(119, 178, 205);
}

#intro h3 {
    background-color: rgb(124, 121, 120);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 300px;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#guidelines {
    background-color: rgb(202, 211, 220);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 25px;
    width: 300px;
    height: 400px;
    margin: 20px auto;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#start-btn {
    background-color: rgb(202, 211, 220);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 25px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#start-btn:hover {
    transition: 0.3s;
    background-color: green;
    cursor: pointer;
    text-decoration: underline;
}