header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(84, 82, 81);
    border-radius: 10px;
}

#flex-left, #timer {
    background-color: rgb(124, 121, 120);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#flex-left a {
    text-decoration: none;
}

#flex-left:hover, #start-btn:hover {
    background-color: green;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}

#timer:hover {
    background-color: red;
    transition: 0.3s;
    box-shadow: inset 0px 0px 20px 5px black;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: aliceblue;
}

#intro {
    text-align: center;
    line-height: 50px;
    border: 1px inset black;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(222, 175, 131);
}

#intro h3, #guidelines, #start-btn, #quiz, #quiz-questions, #quiz-answers {
    background-color: rgb(202, 211, 220);
    border: 1px inset black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px #fff;
    padding: 5px;
    width: 450px;
    height: 60px;
    margin: 10px auto;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#guidelines {
    padding: 25px;
    height: 400px;
    margin: 20px auto;
}

#start-btn {
    padding: 5px;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 38px;
}

#quiz {
    padding: 15px;
    height: 400px;
    width: 450px;
    margin: 20px auto;
}

#quiz-questions {
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    margin: 0 auto;
    height: 45px;
    line-height: 28px;
}

#quiz-answers {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    height: 300px;
    margin: 0 auto;
    line-height: 28px;
}

#quiz-answers button {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 270px;
    height: 55px;
    align-items: center;
    justify-content: space-evenly;

}

h2, h3, h4 {
    text-align: center;
    line-height: 10px;
    font-size: 28px;
}

label {
    text-align: center;
}

input, button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto;
    line-height: 20px;
}

